/**
 * Remove numeric input spinner styling
 *
 * {@link https://css-tricks.com/snippets/css/turn-off-number-input-spinners/}
 */
.input-reset[type=number]::-webkit-inner-spin-button, 
.input-reset[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}
.input-reset[type=number] {
  -moz-appearance:textfield;
}
